html,body,#app{
    height: 100%;
    margin: 0;
    padding: 0;
}
/* 面包屑导航 */
.el-breadcrumb{
    font-size: 14px;
    margin-bottom: 15px;
}
.el-card{
    box-shadow: 0 12px 12px rgba(0, 0, 0, 0.15) !important;
    margin-bottom: 30px;
}
.el-pagination{
    margin-top: 20px;
}